# postgres params for pg_dump
POSTGRES_HOST=db
POSTGRES_DB=nextcloud
# Uploading to s3 using these values
S3_ACCESS_KEY=YOUR_ACCESS_KEY
S3_SHARED_SECRET=YOUR_SHARED_SECRET
S3_NAMESPACE=YOUR_NAMESPACE
S3_HOST=s3-website-us-west-2.amazonaws.com
S3_BUCKET=nextcloud-backup
# use occ command to enable maintenance mode before backup
NEXTCLOUD_CONTAINER=nextcloud_app_1
